{% extends 'tienda/base.html' %} 

{% block content %}
    <h1 class="page-title">{{ categoria_actual.nombre }}</h1>
    
    <div class="mb-5">
        <a href="{% url 'home' %}" class="btn btn-sm btn-outline-dark">← Volver al Catálogo</a>
    </div>
    
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4 mb-5 text-center">
            <a href="{% url 'detalle_producto' producto.id %}" style="text-decoration: none; color: inherit;">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen.url }}" class="img-fluid mb-3" alt="{{ producto.nombre }}">
                {% endif %}
                <h6>{{ producto.nombre }}</h6>
                <p>${{ producto.precio }}</p>
            </a>
        </div>
        {% empty %}
        <p class="mt-3">No hay productos en esta categoría.</p>
        {% endfor %}
    </div>
{% endblock %}